.modal__img-wrapper {
  background-color: white;
  position: relative;
  padding: 0;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.modal__img-close {
  color: white;
  position: absolute;
  background-image: url("../../assets/close-icon-white.svg");
  background-color: transparent;
  top: 20px;
  right: 28px;
  height: 20px;
  width: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  border-style: none;
  padding: 0;
  cursor: pointer;
}

.modal__footer {
  display: flex;
  margin: 0 16px 32px;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.modal__img {
  width: 100%;
  height: 498px;
  border: none;
  margin: 0;
  padding: 0 0 20px;
}

.modal__caption {
  color: black;
  margin: 0;
  font-size: 20px;
}

.modal__weather {
  margin: 0;
}

.modal__delete-btn {
  background-color: transparent;
  background-image: url("../../assets/delete-icon.svg");
  border: none;
  cursor: pointer;
  height: 32px;
  width: 32px;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 456px;
  transition: background-image 0.3s ease;
}

.modal__delete-btn:hover {
  background-image: url("../../assets/delete-icon-hover.svg");
}
