.profile {
  display: flex;
  margin-top: 20px;
  max-width: 100%;
}

.profile__sideBar {
}

.profile__captions {
}
@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    padding-left: 20px;
  }

  .profile__sideBar {
    justify-items: center;
  }
}
