@font-face {
  src: url("../../vendor/fonts/CabinetGrotesk-Regular.woff") format("woff");
  font-family: "CabinetGrotesk";
}

.page {
  background-color: #f3f3f3;
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  max-width: 100%;
}

.page__content {
  margin: 0 auto;
  padding: 0 40px;
}

.page__main {
  margin: 0;
}

.page__content_generate {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.modal__label {
  margin-bottom: 24px;
}

.modal__input {
  display: block;
  margin-top: 8px;
  border: #000000 solid 2px;
  border-radius: 4px;
  width: 100%;
  padding: 0 0 4px;
  margin-bottom: 12px;
  font-family: "CabinetGrotesk", sans-serif;
}

.modal__radio-btns {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  font-family: "CabinetGrotesk", sans-serif;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__label_type_radio {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 11px;
}

.modal__label_type_radio:last-child {
  margin-bottom: 0;
}

.modal__generate-btn {
  padding: 0;
  border-style: none;
  width: 124px;
  height: 48px;
  background-color: #0a3c59;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-family: "CabinetGrotesk", sans-serif;
}

.modal__submit:hover {
  background-color: #00000099;
}

@media screen and (max-width: 627px) {
  .page__content {
    padding: 0;
  }
}
