.cards {
  margin: 0;
}

.cards__text {
  font-size: 20px;
  line-height: 24.8px;
  padding: 0 20px 34px 0;
  margin: 0;
  text-align: center;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style-type: none;
  gap: 21px;
  justify-content: center;
}

.cards__show-btns {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
.cards__show-btn {
  padding: 0;
  border-style: none;
  width: 124px;
  height: 48px;
  background-color: #0a3c59;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
